<template>
    <form @submit.prevent="submitForm">
        <div class="form-group" :class="{invalid: !firstName.isValid}">
            <label for="firstName" >First Name</label>
            <input type="text" id="firstName" v-model.trim="firstName.val" @blur="clearValidity('firstName')"/>
            <p v-if="!firstName.isValid">First name must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !lastName.isValid}">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" v-model.trim="lastName.val" @blur="clearValidity('lastName')"/>
            <p v-if="!lastName.isValid">Last name must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !email.isValid}">
            <label for="email" >Email </label>
            <input type="text" id="email" v-model.trim="email.val" @blur="clearValidity('email')"/>
            <p v-if="!email.isValid">Email must not be empty or need to include @</p>
        </div>
        <div class="form-group" :class="{invalid: !password.isValid}">
            <label for="password" >Password</label>
            <input type="password" id="password" v-model.trim="password.val" @blur="clearValidity('password')"/>
            <p v-if="!password.isValid">Password must not be empty.</p>
        </div>
        <div v-if="!signup" class="form-group" :class="{invalid: !role.isValid}">
            <label for="role">User Role</label>
            <select id="role" name="role" v-model="role.val" @blur="clearValidity('role')">
                <option value="">---</option>
                <option value="ROLE_TEACHER">Teacher</option>
                <option value="ROLE_USER">Student</option>
                <option value="ROLE_ADMIN">Administrator</option>
            </select>
            <p v-if="!role.isValid">Role must not be empty.</p>
        </div>
        <p v-if="!formIsValid">Please fix the above errors and sumit again.</p>
        <base-button>Create</base-button>
    </form>
</template>

<script>
export default {
    emits: ['save-data'],
    props: ['signup'],
    created() {
        if(this.signup) {
            this.role.val = 'ROLE_USER'
        }
    },
    data() {
        return {
            firstName: {
                val: '',
                isValid: true
            },
            lastName: {
                val: '',
                isValid: true
            },
            email: {
                val: '',
                isValid: true
            },
            password: {
                val: '',
                isValid: true
            },
            role: {
                val: '',
                isValid: true
            },
            formIsValid: true,

        }
    },
    methods: {
        clearValidity(input) {
            this[input].isValid = true;
        },
        validateForm() {
            this.formIsValid = true;
            if(this.firstName.val === '') {
                this.firstName.isValid = false;
                this.formIsValid = false;
            }
            if(this.lastName.val === '') {
                this.lastName.isValid = false;
                this.formIsValid = false;
            }
            if(this.email.val === '' && !this.email.val.includes('@')) {
                this.email.isValid = false;
                this.formIsValid = false;
            }
            if(this.password.val === '') {
                this.password.isValid = false;
                this.formIsValid = false;
            }
            if(this.role.val === '') {
                this.role.isValid = false;
                this.formIsValid = false;
            }
        },
        submitForm() {
            this.validateForm();
            if(!this.formIsValid) {
                return
            }
            const formData = {
                firstName: this.firstName.val,
                lastName: this.lastName.val,
                role: this.role.val,
                password: this.password.val,
                email: this.email.val
            }
            this.$emit('save-data', formData)
        }
    }
}
</script>


<style scoped>
.form-group {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>