<template>
    <base-card>
            <b-form-radio-group
                    id="radio-group-1"
                    v-model="selected"
                    :options="options"
                    name="radio-options"
                    @input="selectRole"
                    >
            </b-form-radio-group>
    </base-card>
</template>

<script>
  export default {
    emits: ['select-role'],
    data() {
      return {
        selected: 'ROLE_USER',
        options: [
          { text: 'Student', value: 'ROLE_USER' },
          { text: 'Teacher', value: 'ROLE_TEACHER' },
        ]
      }
    },
    methods: {
        selectRole() {
            this.$emit('select-role', this.selected)
        }
    },
    beforeMount(){
        this.selectRole()
    }
  }
</script>