<template>
    <div class="grid-item">
        <div class="avatar">
            <v-avatar :username="firstName" rounded/>
        </div>
        <div class="profile-user">
            <h5>{{firstNameUpperCase}} {{lastName}}</h5>
            <div>
                <base-badge type="email" :title="email">
                </base-badge>
            </div>
            <div v-if="detailGroups">
                <base-badge 
                    v-for="detailGroup in detailGroups"
                    :key="detailGroup.id"
                    :type="detailGroup.major" 
                    :title="detailGroup.nameGroup">
                </base-badge>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: [
        'id', 
        'firstName', 
        'lastName', 
        'email',
        'detailGroups'
    ],
    computed: {
        firstNameUpperCase() {
            return this.firstName.toUpperCase()
        }
    }
}
</script>

<style scoped>
.grid-item {
    margin: 1rem;
    border: 1px solid #424242;
    border-radius: 12px;
    padding: 1rem;
}

.avatar {
    float: left;
}
.avatar img {
    display: block
}

.profile-user {
    margin-left: 70px
}
/* 
.grid-item {
    padding: 20px;
    text-align: center;
} */

h3 {
    font-size: 1.5rem;
}

h3,
h4 {
    margin: 0.5rem 0;
}

div {
    margin: 0.5rem 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
</style>