<template>
<div>
  <base-dialog-message :show="!!error" title="An error occurred" @close="handleError">
    <p>{{error}}</p>
  </base-dialog-message>
  <base-dialog-message :show="isLoading" title="Authenticating..." fixed>
    <base-spinner></base-spinner>
  </base-dialog-message>
  <base-card mode="small-width">
    <div @click="switchAuthMode">
        <base-button type="button" mode="flat">{{ switchModeButtonCaption }}</base-button>
    </div>
    <div v-if="mode === 'login' ">
      <log-in-form @login-data="submitForm"></log-in-form>
    </div>
    <div v-else>
      <create-user-form @save-data="submitForm" :signup="mode"></create-user-form>
    </div>
  </base-card>
</div>
</template>

<script>
import LogInForm from '../../components/auth/LogInForm.vue';
import CreateUserForm from '../../components/users/CreateUserForm.vue';

export default {
  components: { LogInForm, CreateUserForm },
  data() {
    return {
      mode: 'login',
      isLoading: false,
      error: null,
    };
  },
  created(){
    const isLoggedIn = this.$store.getters['auth/isAuthenticated'];
    console.log(isLoggedIn)
  },
  computed: {
    switchModeButtonCaption() {
      if (this.mode === 'login') {
        return 'Signup instead';
      } else {
        return 'Login instead';
      }
    },
  },
  methods: {
    async submitForm(data) {
      this.isLoading = true;
      try {
        if (this.mode === 'login') {
          await this.$store.dispatch('auth/login', data);
          this.$router.replace('/user-profile')
        } else {
          // await this.$store.dispatch('users/createNewUser', data);
          await this.$store.dispatch('users/createNewUserApollo', data)
          this.mode = 'login'
        }
      } catch (err) {
        this.error = err.message || 'Failed to authenticate, try later.';
      }
      this.isLoading = false
    },
    switchAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup';
      } else {
        this.mode = 'login';
      }
    },
    handleError() {
      this.error = null
    }
  },
};
</script>

<style scoped>

</style>