<template>
    <div class="grid-item">
        <div class="avatar">
            <v-avatar :username="name" size="90" tile/>
        </div>
        <div class="profile-user">
            <h5>{{bookNameUpperCase}}</h5>
            <div>
                <base-badge type="author" :title="author">
                </base-badge>
            </div>
            <div>
                <base-badge type="category" :title="category">
                </base-badge>
            </div>
        </div>
        <div class="actions">
            <base-button mode="outline">Reserve</base-button>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'name',
        'author',
        'category'
    ],
    computed: {
        bookNameUpperCase() {
            return this.name.toUpperCase()
        }
    }
}
</script>

<style scoped>
.grid-item {
    margin: 1rem;
    border: 1px solid #424242;
    border-radius: 12px;
    padding: 1rem;
}

.avatar {
    float: left;
    margin-right: 20px;
}
.avatar img {
    display: block
}

.profile-user {
    margin-left: 70px
}
/* 
.grid-item {
    padding: 20px;
    text-align: center;
} */

h3 {
    font-size: 1.5rem;
}

h3,
h4 {
    margin: 0.5rem 0;
}

div {
    margin: 0.5rem 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
</style>