<template>
    <base-card>
    <h2>
        Find Your Category
    </h2>
    <span class="filter-option" v-for="ctg in category"
        :key="ctg.id">
        <input type="checkbox" v-bind:value="ctg.name" :id="ctg.name" v-model="checkedFilter" @change="setFilters"/>
        <label :for="ctg.name">
            {{ctg.name}}
        </label>
    </span>
    </base-card>
</template>

<script>
export default {
    emits: ['change-filter'],
    props: ['category'],
    created() {
        for(const key in this.category) {
            this.checkedFilter.push(this.category[key].name)
        }
    },
    data() {
        return {
            checkedFilter: []
        }
    },
    methods: {
        setFilters() {
            this.$emit('change-filter', this.checkedFilter)
        }
    }
}
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>