<template>
    <form @submit.prevent="submitForm">
        <div class="form-group" :class="{invalid: !titleBook.isValid}">
            <label for="titleBook" >Book title</label>
            <input type="text" id="titleBook" v-model.trim="titleBook.val" @blur="clearValidity('titleBook')"/>
            <p v-if="!titleBook.isValid">Book title must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !categoryBook.isValid}" >
            <label for="Categories">Category of book</label>
            <select id="Categories" name="Categories" v-model="categoryBook.val" @blur="clearValidity('categoryBook')">
                <option value="">---</option>
                <option value="big-data">Big Data</option>
                <option value="web">Web</option>
                <option value="machine-learning">Machine Learning</option>
            </select>
            <p v-if="!categoryBook.isValid">Category field must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !authorBook.isValid}" >
            <label for="Authors">Author of the book</label>
            <select id="Authors" name="Authors" v-model="authorBook.val" @blur="clearValidity('authorBook')">
                <option value="">---</option>
                <option value="big-data">Big Data</option>
                <option value="web">Web</option>
                <option value="machine-learning">Machine Learning</option>
                <option v-for="author in authors" :key="author.id">test</option>
            </select>
            <p v-if="!authorBook.isValid">Author field must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !publishedAtBook.isValid}">
            <label for="publishedAtBook" >Published at</label>
            <input type="date" id="publishedAtBook" v-model.trim="publishedAtBook.val" @blur="clearValidity('publishedAtBook')"/>
            <p v-if="!publishedAtBook.isValid">Published at date must not be empty.</p>
        </div>
        <p v-if="!formIsValid">Please fix the above errors and sumit again.</p>
        <base-button>Create</base-button>
        
    </form>
</template>

<script>

export default {
    emits: ['save-data'],
    data() {
        return {
            allAuthors: [],
            titleBook: {
                val: '',
                isValid: true
            },
            categoryBook: {
                val: '',
                isValid: true
            },
            authorBook: {
                val: '',
                isValid: true
            },
            publishedAtBook: {
                val: '',
                isValid: true
            },
            formIsValid: true,

        }
    },
    methods: {
        refresh() {
            this.loadAuthors();
        },
        async loadAuthors() {
            try {
                await this.$store.dispatch('library/loadAuthors');
            } catch (error) {
                this.error = error.message || 'Something went wrong!';
            }
        },
        computed: {
            authors() {
                return this.$store.getters['library/authors'];
            }
        },
        clearValidity(input) {
            this[input].isValid = true;
        },
        validateForm() {
            console.log(this.allAuthors)
            this.formIsValid = true;
            if(this.titleBook.val === '') {
                this.titleBook.isValid = false;
                this.formIsValid = false;
            }
            if(this.categoryBook.val === '') {
                this.categoryBook.isValid = false;
                this.formIsValid = false;
            }
            if(this.authorBook.val === '') {
                this.authorBook.isValid = false;
                this.formIsValid = false;
            }
            if(this.publishedAtBook.val === '') {
                this.publishedAtBook.isValid = false;
                this.formIsValid = false;
            }
        },
        submitForm() {
            this.validateForm();
            if(!this.formIsValid) {
                return
            }
            const formData = {
                titleBook: this.titleBook.val,
                categoryBook: this.categoryBook.val,
                authorBook: this.authorBook.val,
                publishedAtBook: this.publishedAtBook.val
            }
            this.$emit('save-data', formData)
        }
    }
}
</script>

<style scoped>
.form-group {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>