<template>
    <div>
        <header>
            <nav>
                <h1>
                    <router-link to="/user-profile">School lead</router-link>
                </h1>
            </nav>
            <ul>
                <li>
                    <div class="dropdown">
                        <router-link to="/user-profile">
                            My account
                        </router-link>                
                    </div>
                </li>
                <li v-if="roleUser === 'ROLE_ADMIN'">
                    <div class="dropdown">
                        <div class="dropbtn">User</div>
                        <div class="dropdown-content">
                            <router-link to="/create-user">Create user</router-link>
                            <router-link to="/list-user">List user</router-link>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <router-link to="/group">
                            Group
                        </router-link>                
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <router-link to="/library">
                            Library
                        </router-link>                
                    </div>
                </li>
                <li v-if="isLoggedIn">
                    <div class="dropdown" @click="logout">
                        <base-button mode="logout">
                            Logout
                        </base-button>
                    </div>
                </li>
            </ul>
        </header>
    </div>
</template>

<script>
import BaseButton from '../ui/BaseButton.vue'
export default {
  components: { BaseButton },
    props: ['isLoggedIn'],
    methods: {
        logout() {
            this.$store.dispatch('auth/logout')
            this.$router.replace('/auth')
        }
    },
    computed: {
        roleUser() {
            return this.$store.getters['auth/roleUser'];
        }
    }
}
</script>

<style scoped>
    header {
        width: 100%;
        min-height: 60px;
        background-color: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: #848e9c;
        display: inline-block;
        padding: 0.75rem 1.5rem;
    }

    h1 {
        margin: 0;
    }

    h1 a {
        color: white;
        margin: 0;
    }

    h1 a:hover,
    h1 a:active,
    h1 a.router-link-active {
        border-color: transparent;
    }

    header nav {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        margin: 0 0.5rem;
    }

    .dropbtn {
        text-decoration: none;
        color: #848e9c;
        display: inline-block;
        padding: 0.75rem 1.5rem;
    }
    
    .dropbtn:hover {
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        min-width: 150px;
    }

    .dropdown a:hover {
        color: white
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #252525;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #848e9c;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

</style>
