<template>
    <section>
        <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
            <p>{{ error }}</p>
        </base-dialog-message>
        <base-card>
            <h2>Create a new group</h2>
            <create-group-form @save-data="saveData"></create-group-form>
        </base-card>
    </section>
</template>

<script>
import CreateGroupForm from '../../components/groups/CreateGroupForm.vue'
import BaseCard from '../../components/ui/BaseCard.vue'

export default {
    components: {
        CreateGroupForm,
        BaseCard
    },
    data() {
        return {
            error: null
        } 
    },
    methods: {
        saveData(data) {
            try {
                this.$store.dispatch('groups/createGroup', data); //name space/action name
                this.$router.replace('/group')
            } catch(error) {
                this.error = error.message || 'Something went wrong!';
            }
        },
        handleClose() {
            this.error = null
        }
    }
}
</script>