<template>
    <div>
        <user-filter @select-role="roleSelected"></user-filter>
          <base-modal v-if="hasUsers" @close="hideDialog" :open="dialogIsVisible">
            <add-user-to-group-form 
              v-if="role === 'ROLE_USER'"
              :users="studentsNoGroup" 
              :role="role" 
              :group="idGroup"
              @add-user-to-group="userAddGroup"
            />
            <add-user-to-group-form
              v-else
              :users="teachers" 
              :role="role" 
              :group="idGroup"
              @add-user-to-group="userAddGroup"
            />
            <!-- <h4>Add new user</h4> -->
          </base-modal>
        <section>
            <base-card>
            <div class="controls">
                <div @click="loadUsers">
                  <base-button mode="outline">
                      Refresh
                  </base-button>
                </div>

                <div @click="showDialog" v-if="hasUsers && roleUser === 'ROLE_ADMIN'">
                  <base-button v-if="role === 'ROLE_USER'">
                    Add a new student
                  </base-button>
                  <base-button v-else>
                    Add a new teacher
                  </base-button>
                </div>
            </div>
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <div class="grid-container" v-else-if="hasUsers">
                <user-item v-for="user in users" 
                :key="user.id" 
                :firstName="user.firstName"
                :lastName="user.lastName"
                :email="user.email"
                ></user-item>
            </div>
            <h3 v-else>No found</h3>
            </base-card>
        </section>
    </div>
</template>

<script>

import UserFilter from '../../components/users/UserFilter.vue';
import UserItem from '../../components/users/UserItem.vue';
import AddUserToGroupForm from '../../components/groups/AddUserToGroupForm.vue';

export default {
  components: { 
    UserFilter,
    UserItem,
    AddUserToGroupForm
  },
  data() {
      return {
        role: '',
        dialogIsVisible: false,
        show: true,
        idGroup: String,
        isLoading: false,
        error: null
      }
  },
  created() {
    this.idGroup = this.$route.params.id;
    this.loadUsers();
    console.log(this.hasUsers)
    // console.log(this.users)
  },
  methods: {
    roleSelected(role) {
      this.role = role
    },
    showDialog() {
      this.dialogIsVisible = true;
    },
    hideDialog() {
      this.dialogIsVisible = false;
    },
    async userAddGroup(data, hideDialog) {
      try {
        await this.$store.dispatch('users/addGroup', data);
        this.loadUsers();
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.dialogIsVisible = hideDialog;
    },
    async loadUsers() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('users/loadUsers');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
  },
  computed: {
    users() {
      const users = this.$store.getters['users/users'];
      // const idGroup = this.idGroup
      console.log(users)
      return users.filter(user => {
        console.log(user)
        if(user.role === this.role && user.groups.includes(this.idGroup)) {
            return true
        }
        return false
      })
    },
    roleUser() {
      return this.$store.getters['auth/roleUser'];
    },
    hasUsers() {
      return this.$store.getters['users/users'];
    },
    studentsNoGroup() {
      const users = this.$store.getters['users/users'];
      const usersData = users.filter(user => {
        if(user.role === 'ROLE_USER' && user.groups.length === 0) {
          return true
        }
        return false
      })
      return usersData
    },
    teachers() {
      const users = this.$store.getters['users/users'];
      return users.filter(user => {
        if(user.role === 'ROLE_TEACHER' && !user.groups.includes(this.idGroup)) {
          return true
        }
         return false
      })
    }
  }
}

</script>

<style scoped>

.controls {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
</style>