<template>
    <div>
        <group-filter @change-filter="setFilters"></group-filter>
        <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
            <p>{{ error }}</p>
        </base-dialog-message>
        <section>
            <base-card>
            <div class="controls">
                <div @click="loadGroups">
                    <base-button mode="outline">
                        Refresh
                    </base-button>
                </div>
                <div v-if="roleUser === 'ROLE_ADMIN'">
                    <base-button link to="/create-group">
                        Create a new group
                    </base-button>
                </div>
            </div>
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <div class="grid-container" v-else-if="hasGroups">
                <group-item v-for="group in filteredGroups" 
                :key="group.id" 
                :id="group.id" 
                :name-group="group.nameGroup"
                :major="group.major"
                ></group-item>
            </div>
            <h3 v-else>No groups found.</h3>
            </base-card>
        </section>
    </div>
</template>

<script>
import GroupItem from '../../components/groups/GroupItem.vue';
import GroupFilter from '../../components/groups/GroupFilter.vue';

export default {
    components: { 
      GroupItem,
      GroupFilter
    },
    data() {
        return {
            activeFilters: {
                web: true,
                bigData: true,
                machineLearning: true 
            },
            isLoading:false,
            error: null
        }
    },
    created() {
        this.loadGroups()
    },
    computed: {
        filteredGroups() {
            var groups = this.$store.getters['groups/groups']; //namespace in index.js / name function in getters.js
            if(this.roleUser !== 'ROLE_ADMIN') {
                const authUsers = this.$store.getters['auth/authUser'];
                if(authUsers.idGroups) {
                    var groupsUser = [];
                    authUsers.idGroups.forEach(idGroup => {
                        var group = groups.find(groups => {
                            let id = '/groups/' + groups.id
                            if(id === idGroup) {
                                return true
                            }
                        })
                        groupsUser.push(group)
                    })
                    groups = groupsUser
                }
            }
            return groups.filter(group => {
               if(this.activeFilters.web && group.major.includes('web')) {
                   return true;
               } 
                if(this.activeFilters.bigData && group.major.includes('big-data')) {
                   return true;
               }
                if(this.activeFilters.machineLearning && group.major.includes('machine-learning')) {
                   return true;
               }
               return false;
            })
        },
        hasGroups() {
            return this.$store.getters['groups/hasGroups']
        },
        roleUser() {
            return this.$store.getters['auth/roleUser'];
        }
    },
    methods: {
        setFilters(updatedFilters) {
            this.activeFilters = updatedFilters;
        },
        async loadGroups() {
            this.isLoading = true;
            try {
                await this.$store.dispatch('groups/loadGroups');
            } catch (error) {
                this.error = error.message || 'Something went wrong!';
            }
            this.isLoading = false;
        },
        handleClose() {
            this.error = null
        },
    }
}
</script>

<style scoped>

.controls {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

</style>