<template>
    <div>
        <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
            <p>{{ error }}</p>
        </base-dialog-message>
        <base-modal @close="hideDialog" :open="dialogIsVisible">
            <homework-form @add-homework="addHomework"/>
        </base-modal>
        <section>
            <base-card>
            <div class="controls">
                <div @click="loadHomework">
                    <base-button mode="outline">
                        Refresh
                    </base-button>
                </div>
                <div @click="showDialog" v-if="roleUser === 'ROLE_ADMIN' || roleUser === 'ROLE_TEACHER'">
                  <base-button>
                    Add a new homework
                  </base-button>
                </div>
            </div>
            <div v-if="isLoading">
                <base-spinner></base-spinner>
            </div>
            <div class="grid-container" v-else-if="hasHomework">
                <homework-item v-for="hmework in homework" 
                :key="hmework.id" 
                :id="hmework.id" 
                :name="hmework.name"
                :content="hmework.content"
                :createdAt="hmework.createdAt"
                @id-homework="removeHomework"
                ></homework-item>
            </div>
            <h3 v-else>No homework found.</h3>
            </base-card>
        </section>
    </div>
</template>

<script>
import HomeworkForm from '../../components/homework/HomeworkForm.vue';
import HomeworkItem from '../../components/homework/HomeworkItem.vue';

export default {
    components: { 
        HomeworkItem,
        HomeworkForm
    },
    data() {
        return {
            isLoading:false,
            error: null,
            dialogIsVisible: false,
        }
    },
    created() {
        this.idGroup = this.$route.params.id;
        this.loadHomework()
    },
    computed: {
        hasHomework() {
            return this.$store.getters['homework/hasHomework']
        },
        homework() {
            const homework = this.$store.getters['homework/homework']
            const findIdGroup = '/groups/' + this.idGroup
            return homework.filter(hmwork => {
                if(hmwork.groups.includes(findIdGroup)) {
                    return true
                }
                return false
            })
        },
        roleUser() {
            return this.$store.getters['auth/roleUser'];
        },
    },
    methods: {
        async loadHomework() {
            this.isLoading = true;
            try {
                await this.$store.dispatch('homework/loadHomework');
            } catch (error) {
                this.error = error.message || 'Something went wrong!';
            }
            this.isLoading = false;
        },
        async addHomework(data) {
            this.hideDialog();
            try {
                await this.$store.dispatch('homework/addHomeWork', data);
                this.loadHomework();
            } catch (error) {
                this.error = error.message || 'Something went wrong!';
            }  
        },
        async removeHomework(idHomework) {
            const id = idHomework
            try {
                await this.$store.dispatch('homework/removeHomeWork', id);
                this.loadHomework()
            } catch (error) {
                console.log(error);
                this.error = error.message || 'Something went wrong!';
            } 
        },
        handleClose() {
            this.error = null
        },
        showDialog() {
            this.dialogIsVisible = true;
        },
        hideDialog() {
            this.dialogIsVisible = false;
        },
    }
}
</script>

<style scoped>

.controls {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

</style>