<template>
    <section>
        <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
            <p>{{ error }}</p>
        </base-dialog-message>
        <base-dialog-message :show='success' title="Successed" @close='handleClose'>
            <p>Account successfully created</p>
        </base-dialog-message>
        <base-card>
            <h2>Create a new user</h2>
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <create-user-form @save-data="saveData"></create-user-form>
        </base-card>
    </section>
</template>

<script>
import CreateUserForm from '../../components/users/CreateUserForm.vue'
import BaseCard from '../../components/ui/BaseCard.vue'

export default {
    components: {
        CreateUserForm,
        BaseCard
    },
    data() {
        return {
            isLoading: false,
            error: null,
            success: false
        }
    },
    methods: {
        async saveData(data) {
            this.isLoading = true;
            console.log(data);
            try {
                console.log(data)
                await this.$store.dispatch('users/createNewUser', data);
                // this.$apollo.mutate({                   
                //     mutation: CreateUser,
                //     // Parameters
                //     variables: {
                //     firstname: this.form.firstname,
                //     lastname: this.form.lastname,
                //     role: this.selected,
                //     email: this.form.email,
                //     password: this.form.password,
                //     classroom: this.changeClassData(this.form.classroom),
                //     },
                // }).then( ( result) => {
                //     this.showAlertCreate();
                //     this.popupCreate.newUser=result.data.createUser.user.lastname+" "+result.data.createUser.user.firstname
                //     console.log(result);
                // } ).catch( ( error ) => {
                //     this.showAlertError();
                //     console.log(error);
                // } )
                this.success = true;
            } catch (error) {
                this.success = false;
                console.log(this.error)
                this.error = error.message || 'Something went wrong!';
            }

            this.isLoading = false;
        },
        handleClose() {
            this.error = null
            this.success = false
        }
    }
}
</script>