<template>
    <div>
      <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
        <p>{{ error }}</p>
      </base-dialog-message>
        <user-filter @select-role="roleSelected"></user-filter>
        <section>
            <base-card>
            <div class="controls">
              <div @click="refreshData">
                <base-button mode="outline">
                    Refresh
                </base-button>
              </div>
            </div>
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <div class="grid-container" v-else-if="hasUsers">
                <user-item v-for="user in users" 
                :key="user.id" 
                :firstName="user.firstName"
                :lastName="user.lastName"
                :email="user.email"
                :detailGroups="user.detailGroups"
                ></user-item>
            </div>
            <h3 v-else>No found</h3>
            </base-card>
        </section>
    </div>
</template>

<script>
import BaseDialogMessage from '../../components/ui/BaseDialogMessage.vue';
import BaseSpinner from '../../components/ui/BaseSpinner.vue';

import UserFilter from '../../components/users/UserFilter.vue';
import UserItem from '../../components/users/UserItem.vue';

export default {
  components: { 
    UserFilter,
    UserItem,
    BaseSpinner,
    BaseDialogMessage
  },
  data() {
      return {
        isLoading: false,
        error: null,
        role: '',
        dialogIsVisible: false,
        show: true,
        idGroup: String,

      }
  },
  created() {
    this.idGroup = this.$route.params.id;
    this.refreshData();

    const isLoggedIn = this.$store.getters['auth/isAuthenticated'];
    console.log(isLoggedIn);
  },
  methods: {
    roleSelected(role) {
      this.role = role
    },
    refreshData() {
      this.loadUsers();
      this.loadGroups();
    },
    async loadUsers() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('users/loadUsers');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    async loadGroups() {
      this.isLoading = true;
      try {
          await this.$store.dispatch('groups/loadGroups');
      } catch (error) {
          this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleClose() {
      this.error = null;
    }
  },
  computed: {
    users() {
      const users = this.$store.getters['users/users'];
      const groups = this.$store.getters['groups/groups'];
      if(groups) {
        users.forEach(user => {
        var detailGroups= [];
        if(user.groups) {
          user.groups.forEach(group => {
          const found = groups.find(ele => ele.id === group)
                if(found) {
                  detailGroups.push({
                    nameGroup: found.nameGroup,
                    major: found.major
                })
              }
            })
          }  
          Object.assign(user, {detailGroups: detailGroups});
        });
      }
      return users.filter(user => {
        if(user.role === this.role) {
            return true
        }
        return false
      })
    },
    hasUsers() {
      return !this.isLoading && this.$store.getters['users/users'];
    }
  }
}

</script>

<style scoped>

.controls {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
</style>