<template>
        
        <base-card mode="small-width">
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <h2>{{roleUser}}</h2>
            <user-item
            :firstName="user.firstName"
            :lastName="user.lastName"
            :email="user.email"
            :detailGroups="user.groups"
            ></user-item>
        </base-card>
</template>

<script>
import UserItem from '../../components/users/UserItem.vue';

export default {
    components: { 
        UserItem
    },
    data() {
        return {
            isLoading : false,
            groupsUser: null
        }
    },
    created() {
        // console.log(this.user.role)
        if(this.user.role !== 'ROLE_ADMIN') {
            this.loadGroups()
        }
    },
    methods: {
        async loadGroups() {
            this.isLoading = true;
            try {
                await this.$store.dispatch('groups/loadGroups');
                this.groupsUser = this.$store.getters['groups/groups'];
            } catch (error) {
                this.error = error.message || 'Something went wrong!';
            }
            this.isLoading = false;
        },
    },
    computed: {
        user() {
            const user = this.$store.getters['auth/authUser'];

            const groups = this.$store.getters['groups/groups'];
            if(groups) {
                var detailGroups= [];
                if(user.idGroups) {
                    user.idGroups.forEach(idGroup => {
                    const found = groups.find(ele => {
                        var id = '/groups/' + ele.id 
                        if(id === idGroup) return true;
                    })
                    if(found) {
                        detailGroups.push({
                            nameGroup: found.nameGroup,
                            major: found.major
                        })
                    }})
                }
                Object.assign(user, {groups: detailGroups});
                this.$store.commit('auth/setGroupsUser', user)
            }
            return user
        },
        roleUser() {
            switch(this.user.role) {
                case 'ROLE_ADMIN' :
                    return 'Admin'
                case 'ROLE_TEACHER' : 
                    return 'Teacher' 
                default:
                    return 'Student'
            }
        }
    }
}
</script>