<template>
<div>


    <div id="table" class="col-md-12 table-responsive">
              <!-- <div class="row">
                  <div class="col-xs-12 form-inline">
                      <div class="form-group">
                          <label for="filtrer" class="sr-only">Filter</label>
                          <input type="text" class="form-control" v-model="filtrer" placeholder="Filter">
                      </div>
                  </div>
              </div> -->
              <div class="row">
                    <bootstrap-4-datatable :name="montable" :columns="columns" filterable  :data="users" :per-page="per_page" :filter-by="filtrer"></bootstrap-4-datatable>
              </div>
              <div class="d-flex justify-content-center">

                  <bootstrap-4-datatable-pager v-model="page" table="montable" type="short" ></bootstrap-4-datatable-pager>
              </div>
    </div>

    
</div>
</template>

<script>
// import func from '../../vue-temp/vue-editor-bridge'
//import gql from 'graphql-tag'
import Vue from 'vue'
// import 'vue-datatable' from 'vuejs-datatable'
var eventBus = new Vue();

import 'vuejs-datatable/dist/themes/bootstrap-4.esm';
import  { GetListUsers }  from '../../graphql/GetListUsers'


export default {
  name: 'LoginPage',
  props: {
    msg: String,
    // password : String
  } ,
  components:{

  },  
  apollo:{
    users: GetListUsers,
  },
  methods: {
    ListeUtilisateurClass (value) {
      let monString='';
      value.map( (elem) => monString+='  '+elem.name ) 
      return monString;
    },
  },
  watch: {
        selected_rows: function(){
            for(var row of this.rows){
                if(this.selected_rows.indexOf(row) === -1){
                    return;
                }
            }

            eventBus.$emit('all-selected');
        }
    },
    created: function(){
        eventBus.$on('selected', function(row){
            if(this.selected_rows.indexOf(row) === -1){
                this.selected_rows.push(row);
            }
        }.bind(this));

        eventBus.$on('deselected', function (row) {
            if (this.selected_rows.indexOf(row) !== -1) {
                let index = this.selected_rows.indexOf(row);

                this.selected_rows.splice(index, 1);
            }
        }.bind(this));

        eventBus.$on('select-all', function () {
            Vue.set(this, 'selected_rows', this.rows.slice(0));
        }.bind(this));

        eventBus.$on('deselect-all', function () {
            Vue.set(this, 'selected_rows', []);
        }.bind(this));
    },
    data () {
      return {
        // Initialize your apollo data
        users: [],
        per_page: 3,
        filtrer: '',
        page: 1,
        selected_rows: [],
        columns:[
                      // { label: 'ID', field: 'id', align: 'center', filterable: false },
            { label: 'select', component: 'select-row', headerComponent: 'select-all' },
          {
                field: 'lastname',
                label: 'Prenom',
                filterable:false,
              },
              {
                field: 'firstname',
                label: 'Nom',
              },
              {
                field: 'email',
                label: 'email',
              },
              {
                field: 'class',
                label: 'Classe',
                representedAs:  (data) =>{
                  
                  let monString="";
                  console.log(data);
                  data.class.map( (elem) => monString+=" "+elem.name )
                  return monString
                }
              },
              ] 
        
      }
    }
}

Vue.component('select-row', {
        template: `<input type="checkbox" v-model="selected" @change="emitSelected">`,
    props: ['row'],
    data: function(){ return {
        selected: false
    }},
    methods: {
        emitSelected: function () {
            if(this.selected){
                eventBus.$emit('selected', this.row);
            }else{
                eventBus.$emit('deselected', this.row);
            }
        }
    },
    created: function () {
        eventBus.$on('select-all', function () {
            this.selected = true;
        }.bind(this));

        eventBus.$on('deselect-all', function () {
            this.selected = false;
        }.bind(this));
    }
});

Vue.component('select-all', {
    template: `<input type="checkbox" v-model="selected" @change="emitSelection">`,
    data: function () {
        return {
            selected: false
        }
    },
    methods: {
        emitSelection: function(){
            eventBus.$emit(this.selected ? 'select-all' : 'deselect-all');
        }
    },
    created: function(){
        eventBus.$on('deselected', function () {
            this.selected = false;
        }.bind(this));

        eventBus.$on('all-selected', function () {
            this.selected = true;
        }.bind(this));
    }
});

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */

/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-left: 40px;
  margin-right: 40px;
}

h2 {
  margin-top: 20px!important;
  margin-bottom: 10px;
}

.orange {
  color: orange;
}

th.sortable {
  color: #ec971f;
}

span.icon.sort-icon {
  float: right;
} */



</style>