<template>
    <div>
        <h1>Add book</h1>
        <section>
            <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
                <p>{{ error }}</p>
            </base-dialog-message>
            <base-card>
                <h2>Create a new book</h2>
                <create-book-form @save-data="saveData"></create-book-form>
            </base-card>
        </section>
    </div>
</template>

<script>

import CreateBookForm from '../../components/library/CreateBookForm'

export default {
    components: {
        CreateBookForm
    },
    data() {
        return {
            error: null
        } 
    },
    methods: {
        saveData(data) {
            try {
                this.$store.dispatch('book/createGroup', data); //name space/action name
                this.$router.replace('/group')
            } catch(error) {
                this.error = error.message || 'Something went wrong!';
            }
        },
        handleClose() {
            this.error = null
        }
    }
}
</script>