<template>
    <div>
      <base-dialog-message :show='!!error' title="An error occurred!" @close='handleClose'>
        <p>{{ error }}</p>
      </base-dialog-message>
        <div v-if="hasCategory">
          <book-filter :category="category" @change-filter="setFilters"></book-filter>
        </div>
        <section>
            <base-card>
            <div class="controls">
              <div @click="refresh">
                <base-button mode="outline">
                    Refresh
                </base-button>
              </div>
              <div v-if="roleUser === 'ROLE_ADMIN'">
                  <base-button link to="/add-book">
                      Add a new book
                  </base-button>
              </div>
            </div>
            <div v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <div class="grid-container" v-else-if="hasBooks">
                <book-item v-for="book in books" 
                :key="book.id" 
                :name="book.name"
                :author="book.author.name"
                :category="book.category.name"
                ></book-item>
            </div>
            <h3 v-else>No found</h3>
            </base-card>
        </section>
    </div>
</template>

<script>
import BookItem from '../../components/library/BookItem'
import BookFilter from '../../components/library/BookFilter'

export default {
  components: { 
    BookItem,
    BookFilter
  },
  data() {
      return {
        isLoading: false,
        error: null,
        updatedFilters: null
      }
  },
  created() {
    this.refresh();

  },
  methods: {
    refresh() {
      this.loadBooks();
      this.loadCategory()
    },
    async loadBooks() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('library/loadBooks');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    async loadCategory() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('library/loadCategory');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleClose() {
      this.error = null;
    },
    setFilters(updatedFilters) {
      this.updatedFilters = updatedFilters;
    }
  },
  computed: {
    books() {
      const books = this.$store.getters['library/books'];
      if(this.updatedFilters) {
        return books.filter(book => this.updatedFilters.includes(book.category.name))
      }
      return books.filter(book => this.activeFilters.includes(book.category.name))
    },
    hasBooks() {
      return !this.isLoading && this.$store.getters['library/hasBooks'];
    },
    category() {
      return this.$store.getters['library/category'];
    },
    hasCategory() {
      return !this.isLoading && this.$store.getters['library/hasCategory'];
    },
    activeFilters() {
      var activeFilters = []
      if(this.hasCategory) {
        for(const key in this.category) {
          activeFilters.push(this.category[key].name)
        }
      }
      return activeFilters
    },
    roleUser() {
      return this.$store.getters['auth/roleUser'];
    }
  }
}

</script>

<style scoped>

.controls {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
</style>
