<template>
  <div class="hello">
    <!-- <h1>{{ password }}</h1> -->
    <div class="flex-column">
    <div>
          
          <!-- <label for="login"> Nom d'utilisateur</label>  -->
          <ul id="example-1">
            <li v-for="user in users" :key="user.firstname">
              {{ user.firstname }}
            </li>
          </ul>
              <datatable :columns="columns" :data="users"></datatable>

          
       </div>
    </div>

    </div>
</template>

<script>
// import func from '../../vue-temp/vue-editor-bridge'
import gql from 'graphql-tag'
import Vuetable from 'vuetable-2'
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";

export default {
  name: 'LoginPage',
  props: {
    msg: String,
    // password : String
  } ,
  components:{
    Vuetable,
    VuetablePagination
  },  
  apollo:{
    users: gql`query{
      users{
        id
        firstname
        lastname
        email
        createdAt
        class{
          name
        }
        
      }
    }`,
  },
  methods: {
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.users.length < 1) return;

      let local = this.users;

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      console.log('pagination:', pagination)
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        users: _.slice(local, from, to)
      };
    },
    onActionClicked(action, data) {
      console.log("slot actions: on-click", data.name);
    }
  },
    data () {
      return {
        // Initialize your apollo data
        users: [],
        perPage: 3
      }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 20px;
}
button.ui.button {
  padding: 8px 3px 8px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}
</style>
