<template>
  <div id="app">
   <the-header v-if="isLoggedIn" isLoggedIn="isLoggedIn"></the-header>
   <transition name="route" mode="out-in">
        <router-view>
        </router-view>
   </transition>
  </div>
</template>

<script>
// import ApolloExample from './components/LoginPage.vue'
// import LoginPage from './components/LoginPage.vue'

import TheHeader from './components/layout/TheHeader.vue'

export default {
  name: 'App',
  components: {
    // LoginPage
    TheHeader
  },
  created() {
    this.$store.dispatch('auth/tryLogin');
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters['auth/isAuthenticated'];
    }
  }
}
</script>

<style>
.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}

</style>
