<template>
<div>
    <form @submit.prevent="submitForm">
        <label for="user">Choose a user</label>
        <select id="user" name="user" v-model="userId">
            <option v-for="user in users"
                :key="user.id"
                :value="user.id"
            >{{user.firstName}} {{user.lastName}}</option>
        </select>
        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" id="role" v-model="role" disabled/>
        </div>
        <div class="form-group">
            <label for="groups">Group</label>
            <input type="text" id="groups" v-model="group" disabled/>
        </div>
        <base-button>Add</base-button>
    </form>
</div>
</template>

<script>
export default {
    emits: ['add-user-to-group'],
    props: {
        users: {
            type: Array,
            required: true,
            default: null
        },
        role: {
            type: String,
            required: true,
            default: null
        },
        group: {
            type: String,
            required: true,
            default: null
        }
    },
    created() {
      console.log(this.users)
    },
    data() {
        return {
          userId: String,
          hideDialog: false
        }
    },
    methods: {
        clearValidity(input) {
            this[input].isValid = true;
        },
        submitForm() {
          var groups = []
          this.users.map(user => {
            if(user.id === this.userId) {
              groups = user.groups;
              groups.push(this.group)
            }
          })
          console.log(groups)
          const formData = {
              id: this.userId,
              role: this.role,
              groups: groups
          }
          this.$emit('add-user-to-group', formData, this.hideDialog)
        }
    }
}
</script>

<style scoped>
.form-group {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}

</style>