<template>
    <form @submit.prevent="submitForm">
        <div class="form-group" :class="{invalid: !nameGroup.isValid}">
            <label for="nameGroup" >Name group</label>
            <input type="text" id="nameGroup" v-model.trim="nameGroup.val" @blur="clearValidity('nameGroup')"/>
            <p v-if="!nameGroup.isValid">Name group must not be empty.</p>
        </div>
        <div class="form-group" :class="{invalid: !major.isValid}" >
            <label for="majors">Choose a major</label>
            <select id="majors" name="majors" v-model="major.val" @blur="clearValidity('major')">
                <option value="">---</option>
                <option value="big-data">Big Data</option>
                <option value="web">Web</option>
                <option value="machine-learning">Machine Learning</option>
            </select>
            <p v-if="!major.isValid">Major must not be empty.</p>
        </div>
        <p v-if="!formIsValid">Please fix the above errors and sumit again.</p>
        <base-button>Create</base-button>
    </form>
</template>

<script>
export default {
    emits: ['save-data'],
    data() {
        return {
            nameGroup: {
                val: '',
                isValid: true
            },
            major: {
                val: '',
                isValid: true
            },
            formIsValid: true,

        }
    },
    methods: {
        clearValidity(input) {
            this[input].isValid = true;
        },
        validateForm() {
            this.formIsValid = true;
            if(this.nameGroup.val === '') {
                this.nameGroup.isValid = false;
                this.formIsValid = false;
            }
            if(this.major.val === '') {
                this.major.isValid = false;
                this.formIsValid = false;
            }
        },
        submitForm() {
            this.validateForm();
            if(!this.formIsValid) {
                return
            }
            const formData = {
                nameGroup: this.nameGroup.val,
                major: this.major.val
            }
            this.$emit('save-data', formData)
        }
    }
}
</script>

<style scoped>
.form-group {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>