<template>
    <div class="grid-item">
        <h3>{{nameGroup}}</h3>
        <div>
            <base-badge :type="major" :title="major">
            </base-badge>
        </div>
        <div class="actions">
            <base-button mode="outline" link :to="HomeworkLink">Homework</base-button>
            <base-button link :to="DetailGroupLink">View Details</base-button>
        </div>
    </div>
</template>

<script>

export default {
    props: ['id', 'nameGroup', 'major'],
    computed: {
        DetailGroupLink() {
            return this.$route.path + '/' + this.id
        },
        HomeworkLink() {
            return this.$route.path + '/' + this.id + '/homework'
        }
    }
}
</script>

<style scoped>
    .grid-item {
        margin: 1rem;
        border: 1px solid #424242;
        border-radius: 12px;
        padding: 1rem;
    }
/* 
    .grid-item {
        padding: 20px;
        text-align: center;
    } */

    h3 {
    font-size: 1.5rem;
    }

    h3,
    h4 {
    margin: 0.5rem 0;
    }

    div {
    margin: 0.5rem 0;
    }

    .actions {
    display: flex;
    justify-content: flex-end;
    }
</style>