<template>
    <base-card>
    <h2>
        Find Your Group
    </h2>
    <span class="filter-option">
        <input type="checkbox" id="web" checked @change="setFilters"/>
        <label for="web">
            Web
        </label>
    </span>
    <span class="filter-option">
        <input type="checkbox" id="bigData" checked @change="setFilters"/>
        <label for="bigData">
            Big-Data
        </label>
    </span>
    <span class="filter-option">
        <input type="checkbox" id="machineLearning" checked @change="setFilters"/>
        <label for="machineLearning">
            Machine-Learning
        </label>
    </span>
    </base-card>
</template>

<script>
export default {
    emits: ['change-filter'],
    data() {
        return {
            filters: {
               web: true,
               bigData: true,
               machineLearning: true 
            }
        }
    },
    methods: {
        setFilters(event) {
            const inputId = event.target.id;
            const isActive = event.target.checked;
            const updatedFilters = {
                ...this.filters,
                [inputId]: isActive
            };
            console.log(updatedFilters);
            this.filters = updatedFilters;
            this.$emit('change-filter', updatedFilters)
        }
    }
}
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>