<template>
<div>
    <form @submit.prevent="submitForm">
        <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" id="name" v-model="name"/>
        </div>
        <div class="form-group">
            <label for="idGroup">Group</label>
            <input type="text" id="idGroup" v-model="idGroup" disabled/>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea rows="6" id="content" v-model="content"/>
        </div>
        <p class="errors" v-if="!formIsValid">
          Please enter a name and content has at least 10 words
        </p>
        <base-button>Add</base-button>
    </form>
</div>    
</template>

<script>
export default {
    emits: ['add-homework'],
    created() {
      this.idGroup = this.$route.params.id;
    },
    data() {
        return {
            name: '',
            content: '',
            idGroup: '',
            formIsValid: true
        }
    },
    methods: {
        submitForm() {
          this.formIsValid = true
          if(this.name === '' || this.content === '' || this.content.length < 10) {
            this.formIsValid = false;
            return
          }
          var groups = [];
          const group = 'groups/' + this.idGroup
          groups.push(group)
          const formData = {
            name: this.name,
            content: this.content,
            groups: groups
          }
          this.$emit('add-homework', formData)
        }
    }
} 
</script>

<style scroped>
.form-group {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>