<template>
    <div class="grid-item">
        <h3>{{name}}</h3>
        <div>
            <base-badge :title="createdAt">
            </base-badge>
        </div>
        <section class="content">
            <p>{{content}}</p>
        </section>
        <div class="actions">
            <div @click.stop="removeHomework">
                <base-button mode="salmon">Remove</base-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    emits: ['id-homework'],
    props: ['id', 'name', 'content', 'createdAt'],
    methods : {
        removeHomework() {
            this.$emit('id-homework', this.id)
        }
    }
}
</script>

<style scoped>
.grid-item {
    margin: 1rem;
    border: 1px solid #424242;
    border-radius: 12px;
    padding: 1rem;
}

h3 {
font-size: 1.5rem;
}

h3,
h4 {
margin: 0.5rem 0;
}

div {
margin: 0.5rem 0;
}

.content {
display: flex;
align-items: center;
justify-content: center;
}

.actions {
display: flex;
justify-content: flex-end;
}
</style>