<template>
    <form @submit.prevent="submitForm">
      <div class="form-auth">
        <label for="email">E-Mail</label>
        <input type="email" id="email" v-model.trim="email" />
      </div>
      <div class="form-auth">
        <label for="password">Password</label>
        <input type="password" id="password" v-model.trim="password" />
      </div>
      <p
        v-if="!formIsValid"
      >Please enter a valid email and password (must be at least 4 characters long).</p>
      <base-button>Login</base-button>
    </form>
</template>

<script>
export default {
    emits: ['login-data'],
    data() {
      return {
        email: '',
        password: '',
        formIsValid: true,
      }
    },
    methods: {
      validateForm() {
        this.formIsValid = true;
        if (
          this.email === '' ||
          !this.email.includes('@') ||
          this.password.length < 4
        ) {
          this.formIsValid = false;
        }
      }, 
      submitForm() {
        this.validateForm();
        if(!this.formIsValid) {
          return
        }

        const formData = {
          email: this.email,
          password: this.password
        }

        this.$emit('login-data', formData)
      }
    }
}
</script>

<style scoped>
form {
  margin: 1rem;
  padding: 1rem;
}

.form-auth {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}
</style>