<template>
    <span class="badge" :class="type">
        {{ text }}
    </span>
</template>

<script>
export default {
    props: ['type', 'title'],
    computed: {
        text() {
            if(this.title.includes('@')) {
              return this.title
            }
            return this.title.toUpperCase()
        }
    }
}
</script>

<style scoped>
.badge {
  background-color: #ccc;
  color: #252525;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.web {
  background-color: #3d008d;
  color: white;
}

.machine-learning {
  background-color: #71008d;
  color: white;
}

.big-data {
  background-color: #4b003b;
  color: white;
}

.email {
  background-color: #9d2aa1;
  color:white
}

.category {
  background-color: #faeefa;
  color:rgb(173 168 176)
}

.author {
  background-color: #9f2c75;
  color: white
}

</style>

